{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Error</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-danger mb-4">
                        {{ message }}
                    </div>
                    
                    {% if show_details and error_details %}
                    <div class="mt-4">
                        <h5>Technical Details</h5>
                        <pre class="bg-light p-3 rounded"><code>{{ error_details }}</code></pre>
                    </div>
                    {% endif %}
                    
                    <div class="mt-4">
                        <a href="javascript:history.back()" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Go Back
                        </a>
                        <a href="{{ url_for('main.index') }}" class="btn btn-primary">
                            <i class="fas fa-home"></i> Go to Homepage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 